In [ ]:
print("Hola Mundo")

Hola Mundo

Practica 1

Repaso Python

ejercicio 1

In [ ]:
diccionarioPersona = {"nombre": "Martin", "apellido":"Garcia", "apodo": "Tincho", "edad":22}
print("Edad alumno:", diccionarioPersona["nombre"])
print(diccionarioPersona["apellido"])
print(diccionarioPersona["apodo"])
print(diccionarioPersona["edad"])

Edad alumno: Martin
Garcia
Tincho
22

ejercicio 2

In [ ]:
listaNotas = [10, 9, 7, 4.5]
listaAlumnos = ["Nicanor", "Nicolas", "Nelson", "Martin"]
for alu, nota in zip(listaAlumnos, listaNotas):
  print(alu, "==>", nota)

Nicanor ==> 10
Nicolas ==> 9
Nelson ==> 7
Martin ==> 4.5

ejercicio 3

In [ ]:
#creo un conjunto con elementos de la lista, de esta forma verifico los repetidos

def eliminarRepetidos (lista):
  listaDevolver= []
  elementos = set() #creo conj vacio
  for x in lista:
    if x not in elementos:
      listaDevolver.append(x)
      elementos.add(x)

  return listaDevolver

  lista1 = [1,2,3,5,5,6]
  print(lista1)
  print("-----")
  print(eliminarRepetidos(lista1))

ejercicio 5

In [ ]:
#slices: son "rodajas"/"subpartes" de una lista
lista1 = [1,2,3,4,5,6,7,8]
listaDe2a5 = lista1[0:5]
lista1Invertida = lista1[::-1]
print(lista1)
print("----")
print(listaDe2a5)
print("----")
print(lista1Invertida)

[1, 2, 3, 4, 5, 6, 7, 8]
----
[1, 2, 3, 4, 5]
----
[8, 7, 6, 5, 4, 3, 2, 1]

Biblioteca Numpy

ejercicio 4

In [ ]:
import numpy as np

arreglo = np.array([1,2,3,4])
matriz = np.array([(1,2), (2,1)])
#tensor es como una matriz pero no bidimensional, mayor
tensor = np.array([(1,2,3),(2,1,6), (3,1,9) , (1,3,9.5)])

print(tensor)
print(np.max(tensor))
print(np.min(matriz))
print(np.sum(arreglo))
#se usan funciones de numpy (para max, min, suma) porque tienen en cuenta TODAS las dimensiones del arreglo

[[1.  2.  3. ]
 [2.  1.  6. ]
 [3.  1.  9. ]
 [1.  3.  9.5]]
9.5
1
10

Biblioteca Pandas

ejercicio 1

In [ ]:
import pandas as pd
#creo diccionario con todos los datos:
datos = {"Nombre" : ["Juan" , "Maria", "Pedro", "José"] , "Edad" : [20, 26, 18, 22], "País" : ["Argentina", "Peru" , "Brasil" , "Chile"] }

df = pd.DataFrame(datos)
#imprimir tabla:
print(df)
print("------------")
#imprimir nombres de las columnas:
print(df['Nombre'])
print(df['Edad'])
print(df['País'])

print("------------")
#Agregar a la tabla a Pablo que tiene 30 años y es originario de Colombia. Agregarlo de 2 formas diferentes:
filaPablo = ["Pablo", 30, "Colombia"]
df.loc[len(df)] = filaPablo
print(df)

print("------------")
# Eliminar de la tabla la fila de Pedro:
df = df.drop(index=2)
print(df)

print("------------")
# Modificar los atributos de países que dicen “Peru” (sin acento) y reemplazarlos por “Perú” (con acento):
df.loc[1, "País"] = "Perú"
print(df)

  Nombre  Edad       País
0   Juan    20  Argentina
1  Maria    26       Peru
2  Pedro    18     Brasil
3   José    22      Chile
------------
0     Juan
1    Maria
2    Pedro
3     José
Name: Nombre, dtype: object
0    20
1    26
2    18
3    22
Name: Edad, dtype: int64
0    Argentina
1         Peru
2       Brasil
3        Chile
Name: País, dtype: object
------------
  Nombre  Edad       País
0   Juan    20  Argentina
1  Maria    26       Peru
2  Pedro    18     Brasil
3   José    22      Chile
4  Pablo    30   Colombia
------------
  Nombre  Edad       País
0   Juan    20  Argentina
1  Maria    26       Peru
3   José    22      Chile
4  Pablo    30   Colombia
------------
  Nombre  Edad       País
0   Juan    20  Argentina
1  Maria    26       Perú
3   José    22      Chile
4  Pablo    30   Colombia